<div fxLayoutAlign="center"style="margin-top:60px">
    <mat-card fxFlex="45">
        <mat-toolbar color="warn">Designation</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
             <br/>
                <th style="text-align:center;">please select area of assessment [please select only one type]:</th>
                <br/>
                
                <mat-radio-group>
                    
                    <mat-radio-button value="Software Development">Software Development</mat-radio-button>
                    <br/><br/>
                    <mat-radio-button value="Software Testing">Software Testing</mat-radio-button>
                    <br/><br/>
                    <mat-radio-button value="Software Architecting">Software Architecting</mat-radio-button>
                </mat-radio-group>
           
            <br/><br/>
            
            <button  mat-raised-button color="primary" type="submit">Next</button>


        </form>
    </mat-card>
</div>
