<div fxLayoutAlign="center"style="margin-top:60px">
    <mat-card fxFlex="48">
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
             
                <h3 style="text-align: justify;color:blue">Java:</h3>
                <h3 style="text-align: justify">Q1:Add/Customize your question+</h3>
                <h3 style="text-align: justify;width:76%; border: 2px solid slateblue"><b style="color:blue">Title:</b> For blah blah blah, which of the below are the valid options.</h3><h3 style="color:blue;margin-top:-45px;margin-left:474px">Pick all that applies.</h3> 
                <mat-checkbox style="margin-left:40px" value="Checkbox">Checkbox</mat-checkbox>
                <mat-checkbox style="margin-left:40px" value="Radio-button">Radio Button</mat-checkbox>
                <mat-checkbox style="margin-left:40px" value="Dropdown-ContextMenu">Drop down Context Menu</mat-checkbox>

             <span style="border: 2px solid slateblue;width:65%;margin-left:40px;margin-top:10px;padding-left: 10px">
                Panel to add multiple choice questions as per above selection..<br/>
                <mat-checkbox  value="MultipleChoice1">Multiple Choice 1</mat-checkbox><br/>
                <mat-checkbox  value="MultipleChoice2">Multiple Choice 2</mat-checkbox>
             </span>
                 <h3 style="margin-left:40px;margin-top:10px">+ Choose from pre-defined questions: </h3>
            <br/><br/>

            
              


            <button  style="position:absolute;left:412px;top:380px; height:36px;width:80px; opacity:0.4;"  mat-raised-button color="primary"  type="submit">Previous</button>
            <button style="position:absolute;left:510px;top:380px; height:36px;width:80px"  mat-raised-button color="primary" type="submit">Next</button>
          





        </form>
    </mat-card>
</div>