<div fxLayoutAlign="center"style="margin-top:60px">
    <mat-card fxFlex="45">
        <mat-toolbar color="accent">Things to Note for the app:</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
             <br/>
                
                <ol>
                    <li>Stop cheating, so stop CRTL c and CTRL v from working, detect when a different window or app
                     is started [focus away from current browser] etc.</li>
                    <li>Pre-built tests based on complexity, always randomized</li>
                    <li>Shareable link for candidates</li>
                    <li>Company logo can be added so that the questions can be customized</li>
                    <li>The unix terminal from an EC2 instance need to be embedded on the UI and fully functional</li>
                    <li>The sql terminal needs to be fully functional</li>
                    <li>The XML request template needs to work and be embedded in the UI </li>
                </ol>
           
            
            
            


        </form>
    </mat-card>
</div>