<div fxLayoutAlign="center center center center" fxFlexfill class="main-div"  >
    <mat-card fxFlex="25" >
        <mat-toolbar color="primary">Registration Page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="Register-form" >
            <mat-form-field>
                <input matInput placeholder="Username"> 
            </mat-form-field>
            <mat-form-field>
                <input matInput type="Email" placeholder="Email">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="password">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Repeat Your password">
            </mat-form-field>
            <mat-checkbox color="primary"><b>I agree all statements in Terms of service</b></mat-checkbox>
            <br/>
            <button mat-raised-button color="accent" type="submit">SIGN UP</button>
           <br/>
           <h3>Have already an account?<b><a href="#">Login here</a></b></h3> 
        </form>
    </mat-card>
</div>

